@charset "ISO-8859-1";

/***********GENERAL***********/
body {
	font-family: 'Varela Round', sans-serif;
}

main {
	background-color: #0A4573;
	padding: 1em;
	color: #fff;
}

.info {
	font-size: larger !important;
	color: #fff !important;
}

.bg-fondo {
	background-color: #04233b;
}

.btn-naranja {
	background-color: #f4a117;
}

.btn-naranja:hover {
	background-color: #fdb714;
	color: #000;
}

.btn-outline-naranja {
	color: #f4a117;
	border-color: #f4a117;
}

/***********HEADER***********/
.navbar {
	color: #fff;
	background: #04233b !important;
	padding: 5px 16px;
	border-radius: 0;
	border: none;
	box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.navbar img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.search-box {
	position: relative;
}

.search-box input {
	padding-right: 35px;
	min-height: 38px;
	border: none;
	background: #faf7fd;
	border-radius: 3px !important;
}

.search-box input:focus {
	background: #fff;
	box-shadow: none;
}

.search-box .input-group-addon {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 10px 0px;
	height: 100%;
}

.search-box i {
	color: #a0a5b1;
	font-size: 19px;
}

.form-inline .form-control {
	width: 250px;
	margin-left: 30px;
}

.dropdown-toggle {
	margin: auto 0 !important;
}

.sub-menu li a i {
	display: block;
	text-align: center;
}

@media screen and (max-width:992px) {
	.buscador {
		display: none !important;
	}
	.logo {
		display: none;
	}
	.menu ul li a {
		margin-left: 2px !important;
		margin: auto 0;
	}
	.menu ul li i {
		margin: auto 0;
	}
	.navbar-dark .navbar-toggler {
		border: 0 !important;
	}
}
.logo {
	width: 3.3em !important;
	height: auto !important;
}

/**HOME**/
#collapseExample {
	margin: 80px !important;
	background-color: #0000;
}

.hoverIcons .btn:hover {
	color: #fdb714 !important;
}

.categoria-icon {
	height: 32px;
	width: auto;
}

.owl-prev {
	left: -15px;
}

.owl-next {
	right: -15px;
}

.owl-prev, .owl-next {
	position: absolute;
	top: 30%;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
	color: #f58220;
}

/*********Login***********/
#login .card-signin {
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#login .card-signin .card-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
}

#login .card-signin .card-body {
	padding: 2rem;
}

#login .form-signin {
	width: 100%;
}

#login .form-signin .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	transition: all 0.2s;
}

#login .form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

#login .form-label-group input {
	height: auto;
	border-radius: 2rem;
}

#login .form-label-group>input, #login .form-label-group>label {
	padding: var(- -input-padding-y) var(- -input-padding-x);
}

#login .btn-google {
	color: white;
	background-color: #ea4335;
}

#login .btn-facebook {
	color: white;
	background-color: #3b5998;
}

/*********Registrar***********/
.divider-text {
	position: relative;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.divider-text span {
	padding: 7px;
	font-size: 12px;
	position: relative;
	z-index: 2;
}

.divider-text:after {
	content: "";
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #ddd;
	top: 55%;
	left: 0;
	z-index: 1;
}

.login {
	color: #f58220;
}

.login:hover {
	color: #fdb714;
}

.btn-facebook {
	background-color: #405D9D;
	color: #fff;
}

.btn-twitter {
	background-color: #42AEEC;
	color: #fff;
}

.input-group-text {
	width: 42px !important;
}

.registrarUsuario input {
	width: 274px;
}

.bg-normal {
	background-color: #0A4573 !important;
}

/***********Categoria***********/
.pad-2 {
	padding: 2em !important;
}

.anchoCategoria {
	width: 85%;
	margin: auto;
}

.text-size-categoria {
	font-size: large;
}

@media screen and (max-width:700px) {
	.botonBloque {
		display: block;
		width: 100%;
	}
}

@media screen and (max-width:375px) {
	.anchoCategoria {
		width: 100%;
	}
}

.ajustarIrCategoria {
	max-width: 30em;
	margin: auto;
}

.subirDiv {
	margin-top: -1em;
	margin-bottom: 1em;
}

.volverACategoria {
	text-decoration: none;
}

.volverACategoria:hover {
	text-decoration: none;
	color: #f58220;
	cursor: pointer;
}

/***********BIBLIOTECA***********/
.borde-naranja {
	border: 2px solid #f58220;
}

.text-naranjaClaro {
	color: #fdb714;
}

.imagenBiblioteca {
	height: 300px;
	width: 224px;
	display: block;
}

.divImagenBiblioteca {
	width: fit-content;
	margin: 1em;
	position: relative;
	background-color: #04233b;
}

.nombreYCategoria {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
}

.nombreYCategoriaDesenfoque {
	backdrop-filter: blur(5px);
}

.nombreYCategoria>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.nombreYCategoria:hover {
	opacity: 1;
}

.nombreYCategoria:hover>* {
	transform: translateY(0);
}

.nombreDeCategoria {
	font-size: 2em;
	font-weight: bold;
}

.tipoCategoria {
	font-size: 1.25em;
	margin-top: 0.25em;
}

.contenedorAlbum {
	padding-top: 0px !important
}

@media screen and (max-width:320px) {
}

@media screen and (max-width:375px) {
}

@media screen and (max-width:425px) {
}

@media screen and (max-width:768px) {
}

@media screen and (max-width:1024px) {
}

/***********FOOTER***********/
@import
	url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap')
	;

footer {
	border-top: 2px solid #f4a117;
}

.card {
	padding: 2% 7%;
	color: #646771;
	background-color: #04233b;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul>li {
	padding: 4px
}

ul>li:hover {
	color: #f4a117;
	cursor: pointer
}

hr {
	border-width: 3px
}

.social>a {
	padding: 1%;
	font-size: 15px;
	color: #646771;
}

.social>a:hover {
	color: #f4a117;
	cursor: pointer
}

.policy>div {
	padding: 4px
}

.heading {
	font-family: 'Titillium Web', sans-serif;
	color: white
}

.divider {
	border-top: 2px solid rgba(189, 196, 203, 0.5);
}

.sacar {
	padding: 0 !important;
}

@media screen and (max-width:700px) {
	footer .container-fluid {
		display: none;
	}
}

/*Error 404*/
#notfound {
	position: relative;
	height: 100vh;
	background-color: #222;
}

#notfound .notfound {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.notfound {
	max-width: 460px;
	width: 100%;
	text-align: center;
	line-height: 1.4;
}

.notfound .notfound-404 {
	height: 158px;
	line-height: 153px;
}

.notfound .notfound-404 h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: #222;
	font-size: 220px;
	letter-spacing: 10px;
	margin: 0px;
	font-weight: 700;
	text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.notfound .notfound-404 h1>span {
	text-shadow: 2px 2px 0px #f58220, -2px -2px 0px #ffab00, 0px 0px 8px
		#ff8700;
}

.notfound p {
	font-family: 'Josefin Sans', sans-serif;
	color: #c9c9c9;
	font-size: 16px;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 15px;
}

/*.notfound a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    color: #c9c9c9;
    border: 2px solid #c9c9c9;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}*/
.notfound p {
	margin-top: 20%;
}

.notfound a:hover {
	color: #f58220;
	border-color: #f58220;
}

@media only screen and (max-width: 480px) {
	.notfound .notfound-404 {
		height: 122px;
		line-height: 122px;
	}
	.notfound .notfound-404 h1 {
		font-size: 122px;
	}
	.notfound p {
		margin: 0;
	}
}


/****PERFIl****/

.perfil .img-perfil {
    width: 250px;
    height: auto;
}

.perfil .row {
    margin-right: 0!important;
    margin-left: 0!important;
}